In [3]:
!pip install pandas matplotlib

Requirement already satisfied: pandas in c:\users\bami\documents\cta\creative coding\hw\angels\venv\lib\site-packages (2.2.3)
Collecting matplotlib
  Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bami\documents\cta\creative coding\hw\angels\venv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bami\documents\cta\creative coding\hw\angels\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bami\documents\cta\creative coding\hw\angels\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bami\documents\cta\creative coding\hw\angels\venv\lib\site-packages (from pandas) (2024.2)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.3.0-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Using cached fonttools-4.54.1-cp312-cp312-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.7-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\bami\documents\cta\creative coding\hw\angels\venv\lib\site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-11.0.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in c:\users\bami\documents\cta\creative coding\hw\angels\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
Using cached contourpy-1.3.0-cp312-cp312-win_amd64.whl (218 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.54.1-cp312-cp312-win_amd64.whl (2.2 MB)
Using cached kiwisolver-1.4.7-cp312-cp312-win_amd64.whl (55 kB)
Using cached pillow-11.0.0-cp312-cp312-win_amd64.whl (2.6 MB)
Using cached pyparsing-3.2.0-py3-none-any.whl (106 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-11.0.0 pyparsing-3.2.0

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
path = 'Data/angels_survey.csv'
answers_df = pd.read_csv(path)

display(answers_df)

,timestamp,day_born,olympic_sport,fight_or_flight,love_touch,love_words,love_service,love_time,love_gifts,height
0,10/17/2024 12:51:34,12/28/2001,Badminton,Run,3,3,4,5,3,168
1,10/17/2024 12:51:50,10/5/1998,Archery,Freeze,4,5,3,4,2,176
2,10/17/2024 12:52:12,6/9/2003,Skateboarding,Run,4,3,5,5,2,183
3,10/17/2024 12:52:19,5/2/1998,Swimming,Freeze,5,4,4,4,2,171
4,10/17/2024 12:57:47,1/9/2001,Tennis,Run,4,1,3,5,4,163
5,10/17/2024 13:05:06,6/7/2002,Badminton,Fight,2,4,4,4,5,163
6,10/17/2024 13:08:45,3/6/2000,Sailing,Run,4,5,4,5,4,170
7,10/17/2024 13:20:22,5/4/1997,Diving,Run,2,5,5,4,4,168
8,10/17/2024 13:28:11,1/25/1999,Gymnastics,Run,3,4,5,4,1,178
9,10/17/2024 13:30:21,7/11/1998,Volleyball,Run,4,3,4,4,3,180
10,10/17/2024 13:31:26,12/1/1995,Surfing,Run,1,4,3,2,5,176
11,10/17/2024 13:36:36,10/20/1998,Triathlon,Run,1,3,5,4,3,165
12,10/17/2024 13:51:46,2/13/2001,Archery,Run,5,3,4,5,2,183
13,10/17/2024 13:57:59,1/1/1998,Fencing,Run,4,4,2,1,3,168
14,10/17/2024 14:03:33,1/10/2002,Athletics,Fight,5,4,3,2,1,170
15,10/17/2024 14:06:10,8/10/1999,Tennis,Run,4,5,3,5,2,165
16,10/22/2024 10:06:09,10/20/1998,Triathlon,Run,1,3,5,4,3,165